.button-on-edit {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}

label {
  display: block;
}

input {
  display: block;
}

textarea {
  display: block;
}

.edit-intro {
  font-size: 85%;
  line-height: 90%;
}

@media screen and (min-width: 374px) {
  .button-on-edit {
    width: auto;
    margin-right: 7px;
    margin-left: 1px;
  }
}