ul {
  padding-top: 8px;
  margin-right: 10%;
  margin-left: -10%;
  font-size: 1.1em;
  list-style: none;
}

.characterList-link {
  font-size: 1em;
  line-height: 0.9em;
  text-decoration: none;
  color: #4B0082;
}

li {
  padding: 5px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
}

li:hover {
  color: #367D78;
}

.character-li {
  border-bottom: 1px solid black;
  border-radius: 5px;
}

.list-intro {
  font-size: 85%;
  line-height: 90%;
}

@media screen and (min-width: 550px) {
  ul {
    margin-right: 5%;
    margin-left: -5%;
  }
}

@media screen and (min-width: 700px) {
  ul {
    margin-right: 5%;
    margin-left: -1%;
  }
}