ul {
  padding-top: 8px;
  margin: 5px;
  font-size: 1.1em;
  list-style: none;
}

.characterList-link {
  font-size: 1em;
  line-height: 0.9em;
  text-decoration: none;
  color: #4B0082;
}

li {
  padding: 5px;
  margin-bottom: 15px;
}

li:hover {
  color: #367D78;
}