.review-character-section {
  margin: 5px;
  padding: 15px;
  line-height: 1.2em;;
}

.saved-character-warning {
  font-size: 85%;
}

.p-label {
  font-size: 120%;
}

.character {
  line-height: 1.3em;
}

p {
  margin-bottom: 8px;
}

.review-button {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}

@media screen and (min-width: 374px) {
  .review-button {
    width: auto;
    margin-right: 7px;
    margin-left: 1px;
  }
}