@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 3px;
  margin-left: 20px;
  padding: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5em;
  font-family: 'Darker Grotesque', sans-serif;
  background: url('img/paper-1074131-25.jpg');
  /* background-color: rgba(255, 255, 240, 0.8) */
}

button {
  padding: 5px;
  margin: 5px;
  margin-right: 5px;
  border: 1px solid black;
  border-radius: 8px;
}

button:hover {
  background-color: blue;
}

fieldset {
  margin: 5px;
}

label {
  display: block;
}

input {
  padding: 3px;
  margin: 5px;
  padding-left: auto;
  padding-right: auto;
  width: 90%;
  border: 1px solid black;
  border-radius: 5px;
}

.page-heading {
  font-size: 135%
}

.red {
  color: red;
}

fieldset {
  background-color: rgba(255, 255, 255, 0.4)
}

/* @media screen and (min-width: 450px) {
  body {
    font-size: 2em;
  }
}

@media screen and (min-width: 700px) {
  body {
    font-size: 2em;
  }
} */

